html {
  font-size: xx-small;
}

body {
  background-image: url("https://i.redd.it/17acbvxdcc291.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding-top: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-color: black;
}


.logo {
  border-radius: 5000rem;
  width: 10rem;
  height: 10rem;
}


.InformacoesDoVendedor {
  background-color: rgba(255, 255, 255, 0.516);
  border-radius: 20px;
  width: 90%;
  max-width: 600px;
  min-height: 400px;
  margin: 20px auto;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2rem;
}

.container{
  display: flex;
  align-items: flex-start;
}

.nome {
  color: black;
  background-color: white;
  justify-self: auto;

}



.aviso {
  color: whitesmoke;

}


p {
  color: black;
  font-size: clamp(14px, 2vw, 20px);
  margin-left: 25px;
  text-align: center;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: darkslategrey;
  color: white;
  padding: 1rem 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  flex-wrap: wrap;
  gap: 2rem;
  font-size: medium;
}




header h1 {
  margin-right: auto;
}


/*Desktop*/
@media (max-width: 1440px) {}


/*Tablet*/
@media (max-width: 1024px) {}


/* Celular*/
@media (max-width: 600px) {
  .logo {
    width: 50px;
    height: auto;
  }

  .aviso {
    font-size: x-large;
  }


  body {
    margin-top: 60px;
    height: auto;
    justify-content: center;
  }


  .InformacoesDoVendedor {
    display: flex;
    width: 80%;
    padding: 10px;
  }

  .nome {
    align-self: flex-start;
    background-color: aliceblue;
    font-size: medium;
  }


  .botoes-header {
    overflow: auto;
    display: flex;
  }

  button {
    width: 100%;
  }
}




img {
  border-radius: 5000rem;
  width: 15rem;
  height: 15rem;
}

.botoes-header {
  margin-left: auto;
  display: flex;
  gap: 10px;
  margin-right: 50px;

}


button {
  background-color: cadetblue;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
}