
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../img/imagem-perfil.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 100vh;
    margin-top: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.896);
    color: white;
    padding: 1rem 5%;
    display: flex;
    align-items: center;
    z-index: 1000;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}


.logo {
    width: 60px;
    border-radius: 50px;
    border: 5px solid rgb(105, 18, 162);
}

.aviso {
    color: whitesmoke;
    margin-left: 15px;
}

.botoes-header {
    margin-left: auto;
    display: flex;
    gap: 10px;
}

button {
    background-color: rgb(105, 18, 162);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
}


#menu-toggle {
    display: none;
}

.menu-icon {
    display: none; 
    font-size: 30px;
    cursor: pointer;
    z-index: 1001;
}

.menu-icon::before {
    content: "☰";
}


#menu-toggle:checked + .menu-icon::before {
    content: "✖";
}


.opcoes {
    display: none; 
    flex-direction: column;
    background-color: rgb(105, 18, 162);
    position: absolute;
    top: 100%; 
    right: 5%;
    width: 200px;
    padding: 1rem;
    border-radius: 0 0 10px 10px;
    gap: 15px;
}

.opcoes a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-bottom: 1px solid rgba(255,255,255,0.1);
    padding-bottom: 5px;
}

.Informacoes-do-vendedor {
    background-color: rgba(60, 60, 60, 0.7); 
    border-radius: 20px;
    width: 90%;
    max-width: 70rem;
    margin: 20px auto;
    padding: 2rem;
    display: flex;
    flex-direction: column; 
    align-items: center;    
    text-align: center;    
    gap: 10px;            
    border: 5px solid white;
 
}

.foto-perfil {
    border-radius: 50%;     
    width: 18rem;           
    height: 18rem;
    object-fit: cover;     
    margin-bottom: 1rem;
    border: 5px solid white;
    object-fit: fill;
}

.info {
    margin-top: 5px;
    background-color: rgb(210, 210, 210);
    padding: 8px 15px;
    border-radius: 5px;
    font-size: 1.5rem;     
    width: 100%;           
    max-width: 50rem;
    color: #333;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    border: 2px solid rgb(0, 0, 0);
}


@media (max-width: 580px) {
    .botoes-header {
        display: none; 
    }

    .menu-mobile {
        margin-left: auto; 
        order: 3;
        display: flex;
        align-items: center;
    }

  .logo {
    order: 1;
  }

  .info {
        font-size: 1.1rem;   
  }

  .foto-perfil {
    border-radius: 50%;     
    width: 9rem;           
    height: 9rem;
  }
  .aviso {
    order: 2;
    font-size: 1rem;
  }
  
   .menu-icon {
    display: block;
    order: 3; 
  }

  .opcoes {
    right: 5%; 
    left: auto;
  }


    #menu-toggle:checked ~ .opcoes {
        display: flex;
    }
}



