* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('../img/imagem-fundo-home.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  font-family: Arial, sans-serif;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 6rem;

  min-height: 100vh;
  overflow: scroll hidden hidden;
}


header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  padding: 1rem 5%;
  display: flex;
  align-items: center;
  z-index: 1000;
}

.logo {
  width: 60px;
  border-radius: 50%;
  border: 3px solid rgb(105, 18, 162);
}

.aviso {
  color: white;
  margin-left: 1rem;
  font-size: 1.5rem;
}

.botoes-header {
  margin-left: auto;
  display: flex;
  gap: 10px;
}

button {
  background-color: rgb(105, 18, 162);
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

.banner-home {
  width: 95%;
  max-width: 1200px;
  height: 50vh;

  margin-top: 1rem;
  border-radius: 20px;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 2rem;

  background:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../img/imagem-home.png");

  background-size: cover;
  background-position: center;

  color: white;
}

.banner-home h1 {
  font-size: 3rem;
  font-family: 'Times New Roman', Times, serif;
}

.banner-home button {
  height: 4rem;
  width: 15rem;
  font-size: x-large;
  
}

.texto-menu {
  width: 95%;
  max-width: 1200px;

  background-color: rgba(202, 201, 201, 0.75);
  border-radius: 20px;
  padding: 2rem;
  margin-top: 2rem;
  display: flex;
  align-items: center;
  gap: 2rem;
  font-size: 2.5rem;
  text-align: left;
  gap: 1rem;
}

.texto {
  max-width: 70%;
}

.texto-menu a {
  margin-left: auto;
}

.texto-menu button {
  height: 4rem;
  width: 15rem;
  font-size: x-large;
}

#menu-toggle {
  display: none;
}

.menu-icon {
  display: none;
  font-size: 30px;
  cursor: pointer;
}

.menu-icon::before {
  content: "☰";
}

#menu-toggle:checked+.menu-icon::before {
  content: "✖";
}

.opcoes {
  display: none;
  flex-direction: column;
  background-color: rgb(105, 18, 162);
  position: absolute;
  top: 100%;
  right: 5%;
  width: 200px;
  padding: 1rem;
  border-radius: 0 0 10px 10px;
  gap: 10px;
}

.opcoes a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}


/* TABLET */
@media(max-width: 1024px) {
  .texto-menu {
    flex-direction: column;
  }

  .banner-home h1 {
    font-size: 2.5rem;
  }
}

/* MOBILE */
@media (max-width: 580px) {

  .botoes-header {
    display: none;
  }

  .menu-mobile {
    margin-left: auto;
    display: flex;
  }

  .menu-icon {
    display: block;
    color: white;
    font-size: 28px;
  }

  .banner-home {
    height: 40vh;
    padding-left: 1rem;
  }

  .banner-home h1 {
    font-size: 2rem;
  }

  .texto-menu {
    font-size: 1rem;
    padding: 1.5rem;
  }

  #menu-toggle:checked~.opcoes {
    display: flex;
  }
}