/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(27, 27, 27, 0.532);
    margin-top: 8rem;
    min-height: calc(100vh - 8rem);
    font-family: Arial;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: scroll hidden hidden;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 1rem 5%;
    display: flex;
    align-items: center;
    z-index: 1000;
}

.logo {
    width: 60px;
    border-radius: 50%;
    border: 5px solid rgb(105, 18, 162);
}

.aviso {
    color: white;
    margin-left: 1rem;
    font-size: x-large;
}




.botoes-header {
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

button {
    background-color: rgb(105, 18, 162);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
}



/* MENU HAMBURGUER */
#menu-toggle {
    display: none;
}

.menu-icon {
    display: none;
    font-size: 30px;
    cursor: pointer;
}

.menu-icon::before {
    content: "☰";
}

#menu-toggle:checked+.menu-icon::before {
    content: "✖";
}

.opcoes {
    display: none;
    flex-direction: column;
    background-color: rgb(105, 18, 162);
    position: absolute;
    top: 100%;
    right: 5%;
    width: 200px;
    padding: 1rem;
    border-radius: 0 0 10px 10px;
    gap: 10px;
}

.opcoes a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}


.lancamento {
    background-color: rgba(202, 201, 201, 0.669);
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 20px;
    padding: 2rem;
    margin-top: -3rem;
    font-size: 2rem;
    text-align: left;
    gap: 1rem;
}

.lancamento img {
    width: 100%;
    min-height: 50%;
    border: 2px solid black;
    border-radius: 2rem;
    background: white;
}


.lancamento button {
    transition: all 0.25ms ease-in;
}

.lancamento button:hover {
    transform: scale(1.05);
}


/* MOBILE */
@media (max-width: 1024px) {



    /* some com botões */
    .botoes-header {
        display: none;
    }

    .logo {
        order: 1;
    }

    .aviso {
        order: 2;
        font-size: x-large;
    }

    .menu-mobile {
        margin-left: auto;
        order: 3;
        display: flex;
        align-items: center;
    }

    .texto-menu {
        flex-wrap: wrap;
    }

    .menu-icon {
        color: aliceblue;
        visibility: visible;
        display: block;
        order: 3;
        margin-left: auto;
    }

    #menu-toggle:checked~.opcoes {
        display: flex;
    }
}