/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BASE */
body {
  background-image: url("https://i.redd.it/17acbvxdcc291.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 8rem;
  height: 50rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* HEADER */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  padding: 1rem 5%;
  display: flex;
  align-items: center;
  z-index: 1000;
}

.botoes-header{
  visibility: hidden;
  display: none;
}



.aviso {
  font-size: x-large;
  color: white;
  margin-left: 1rem;
  flex: 1;
}

/* LOGO */

.logo {
  width: 60px;
  border-radius: 50%;
  border: 5px solid rgb(105, 18, 162);
}

/* MENU HAMBURGUER */
#menu-toggle {
  display: none;
}

.menu-icon {
  color: aliceblue;
  display: block;
  margin-left: auto;
  font-size: 30px;
} 

.menu-icon::before {
  content: "☰";
}

#menu-toggle:checked+.menu-icon::before {
  content: "✖";
}

.menu-mobile {
  margin-left: auto;
  order: 3;
  display: flex;
  align-items: center;
}

.opcoes {
  display: none;
  flex-direction: column;
  background-color: rgb(105, 18, 162);
  position: absolute;
  top: 100%;
  right: 5%;
  width: 200px;
  padding: 1rem;
  border-radius: 0 0 10px 10px;
  gap: 10px;
}

.opcoes a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

#menu-toggle:checked ~ .opcoes {
    display: flex;
  }


/* 📲 TABLET */
@media (min-width: 581px) {

  .opcoes{
    visibility: hidden;
    display: none;
  }
  .opcoes a{
  visibility: hidden;
    display: none;
  }

  
  botoes-header {
  display: none;
  visibility: hidden;
  margin-left: auto;
  display: flex;
  gap: 1.5rem;
}

button {
  background-color: rgb(105, 18, 162);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
}

  .menu-icon{
    visibility: hidden;
    display: none;
  }

  .botoes-header{
    visibility: visible;
    display: flex;
  }

  


}

/* 💻 DESKTOP */
@media (min-width: 1024px) {

  
.opcoes {
  display: flex;
  flex-direction: row;
  position: static;
  background: none;
}



  .menu-icon {
    display: none;
  }

  .container {
    display: grid;
    grid: 1fr;
    gap: 10px;

  }
}


/* 🖥️ FULL HD GRANDE */
@media (min-width: 1440px) {

  .container {
    max-width: 1400px;
  }

}